body {
    padding: 0;
    margin: 0;
}

#gameAttack_wrapper {
    width: 640px;
    height: 480px;
    margin: auto;
    border: 0;
    /*border-collapse: collapse;*/
    background-color: #000;
    position: relative;
}
#fightArena{
    /*border: 1px solid red;*/
    height: 50%;
    margin-top: 18%;
    position: absolute;
    width: 99%;
}
#monster{
   max-width: 40%;
    margin: 5%;
    max-height: 75%;
    position: absolute;
    float: left;
    /*border: 1px solid green;*/
    font-size: 30px;
    color: Red;
    bottom: 100%;
}

#player{
    bottom: 100%;
    color: green;
    float: right;
    font-size: 30px;
    left: 75%;
    margin: 5%;
    max-height: 75%;
    max-width: 40%;
    position: absolute;
}

#diceBox {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    left: 25%;
    position: absolute;
    bottom: -10%;
    z-index: 0;
    /*width: 20%;*/
    /*display: none;*/
}

.shown1, .shown3, .shown5 {
    background-image: url('../img/diceroll.png');

    -webkit-animation: play 1s steps(40) infinite;
    -moz-animation: play 1s steps(40) infinite;
    -ms-animation: play 1s steps(40) infinite;
    -o-animation: play 1s steps(40) infinite;
    animation: play 1s steps(40) infinite;
}

.shown2, .shown4 {
    background-image: url('../img/dicerollrev.png');

    -webkit-animation: play 1s steps(40) infinite;
    -moz-animation: play 1s steps(40) infinite;
    -ms-animation: play 1s steps(40) infinite;
    -o-animation: play 1s steps(40) infinite;
    animation: play 1s steps(40) infinite;
}

#die1, #die2, #die3, #die4, #die5 {
    width: 64px;
    height: 65px;
    display: inline-block;

}


#roll {
    padding: 5px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 5px;
    margin: 5px 5px 0px 5px;
}

@-webkit-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -785px;
    }
}

@-moz-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -785px;
    }
}

@-ms-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -785px;
    }
}

@-o-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -785px;
    }
}

@keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -785px;
    }
}

.btn{
    width: 80px;
    height: 40px;
}

#battleBtn{
    left: 40%;
    bottom: 10%;
    position: absolute;
}

#player-Meter{
    border: 1px solid #000;
    bottom: 75%;
    left: 70%;
    position: absolute;
    width: 30%;
}

#player-Health{
    background: none repeat scroll 0 0 red;
    height: 20px;
    /*left: 66%;*/
    position: absolute;
    top: 10%;
    width: 100%;
    height: 10%;
}
#monster-Meter{
    border: 1px solid #000;
    bottom: 75%;
    position: absolute;
    width: 30%;
}

#monster-Health{
    background: none repeat scroll 0 0 red;
    height: 20px;
    position: absolute;
    top: 4%;
    width: 100%;
    height: 10%;
}
.value-display{
    height: 100px;
    border: 1px solid #000000
}




