#monster-hud {
    width:              100%;
    height:             100%;
    overflow:           auto;
    float:              left;
}

#monster-data {
    text-align: center;
}
#monster img {
    width: 62%;
}


#monster-data table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    height:100%;
}

#monsterHud {

    width:              100%;
    overflow:           auto;
    height:             100%;
    display:            block;
    color:              white;
    font-family:        gobold;

}

#dice-div {

    overflow: hidden;
    position:absolute;
    margin-left: -30%;
    margin-top: 55%;
    display:block;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    padding: 0;
    width:60%;
}

#showdice {

    background-image: url('../img/shelf.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom:13px;

}

.shown1, .shown3, .shown5 {
    background-image: url('../img/diceroll.png');

    -webkit-animation: play 1s steps(17) infinite;
    -moz-animation: play 1s steps(17) infinite;
    -ms-animation: play 1s steps(17) infinite;
    -o-animation: play 1s steps(17) infinite;
    animation: play 1s steps(17) infinite;
}

.shown2, .shown4 {
    background-image: url('../img/dicerollrev.png');

    -webkit-animation: play 1s steps(17) infinite;
    -moz-animation: play 1s steps(17) infinite;
    -ms-animation: play 1s steps(17) infinite;
    -o-animation: play 1s steps(17) infinite;
    animation: play 1s steps(17) infinite;
}

@-webkit-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -1100px;
    }
}

@-moz-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -1100px;
    }
}

@-ms-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -1100px;
    }
}

@-o-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -1100px;
    }
}

@keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -1100px;
    }
}

#die1, #die2, #die3, #die4, #die5 {
    width: 64px;
    height: 65px;
    display: inline-block;

}

#roll {
    padding: 5px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 5px;
    margin: 5px 5px 0px 5px;
}