@import url("monstercard.css");
@import url("minimap.css");
@import url("attack.css");

@font-face {
    font-family: stencil;
    src: url(../fonts/stencil.ttf);
}
@font-face {
    font-family: gobold;
    src: url(../fonts/GoboldBold.ttf);
}
@font-face {
    font-family: gravity;
    src: url(../fonts/Gravity-Book-Italic.ttf);
}


#gameAttack_wrapper {

    width:              640px;
    height:             480px;
    background-color:   #000;
    margin:             auto;
    display:            inline-block;
    position:           fixed;
    top:                0;
    bottom:             0;
    left:               0;
    right:              0;
}

#player-hud {
    width:              25%;
    height:             100%;
    background-color:   #8b9f20;
    overflow:           auto;
    float:              left;
}

#player-data {
    text-align: center;
}

#player-data table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

.hud-scale {
    width: 40px;
}

#container {
    width:              75%;
    height:             100%;
    overflow:           auto;
    background-color:   #7255ff;
    float:              left;
}

#playerHud {

    width:              100%;
    overflow:           auto;
    height:             50%;
    background-color:   #ffcf57;
    display:            block;

}

#buttonHud {
    width:              100%;
    overflow:           auto;
    height:             50%;
    background-color:   #af67fd;
    display:            block;
    vertical-align:     bottom;
}

#buttonHud table {
    margin: 1%;
    bottom: 0;
    position: fixed;

    /*display: block;*/
}

#buttonHud img:hover {
    -webkit-transform:scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:scale(1.20); /* Opera */
    transform:scale(1.20);
    cursor: pointer;
}



#mainmatrix {
    overflow:           auto;
    width:              97%;
    height:             97%;
    margin:             auto;
    padding:            0;
    border:             0 none;
    border-collapse:    collapse;
    /*display:            none;*/
}

#mainmatrix td {
    height: 33%;
    width: 33%;
}

#mainmatrix img {
    width: 100%;
}

