@import url("monstercard.css");



@font-face {
    font-family: stencil;
    src: url(../fonts/stencil.ttf);
    font-weight: bolder;
    font-style: oblique;
}
@font-face {
    font-family: gobold;
    src: url(../fonts/GoboldBold.ttf);
}
@font-face {
    font-family: gravity;
    src: url(../fonts/Gravity-Book-Italic.ttf);
}

#gameAttack_wrapper {

    width:              640px;
    height:             480px;
    background-color:   #000;
    margin:             auto;
    display:            inline-block;
    position:           fixed;
    top:                0;
    bottom:             0;
    left:               0;
    right:              0;

}

#player-hud {

    width:              25%;
    height:             100%;
    background-color:   #8b9f20;
    overflow:           auto;
    float:              left;
}

#container {
    width:              75%;
    height:             100%;
    overflow:           auto;
    background-color:   #7255ff;
    float:              left;
}

#playerHud {

    width:              100%;
    overflow:           auto;
    height:             40%;
    background-color:   #ffcf57;
    display:            block;

}

#filler {

    width:              100%;
    overflow:           auto;
    height:             20%;
    background-color:   #ffffaa;
    display:            block;
}

#buttonHud {
    width:              100%;
    overflow:           auto;
    height:             40%;
    background-color:   #af67fd;
    display:            block;
}



#mainmatrix {
    overflow:           auto;
    width:              100%;
    height:             100%;
    margin:             0;
    padding:            0;
    border:             0 none;
    border-collapse:    collapse;
    /*display:            none;*/
}

.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}

.scaling{
    /*float: left;*/
    -webkit-animation-name: scalex;
    -webkit-animation-duration:500ms;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:500ms;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}

@-webkit-keyframes scalex{
    from {-webkit-transform: scale(0.9);}
    65% {-webkit-transform: scale(1.0);}
    to {-webkit-transform: scale(0.9);}
}

@-moz-keyframes scale{
    from {-moz-transform: scale(0.9);}
    65% {-moz-transform: scale(1.0);}
    to {-moz-transform: scale(0.9);}
}


