
body {
    margin: 0%;
    padding: 0%;
}

.gameTitle {
    color: blue;
    font-family: "Impact", sans-serif;
    font-size: 85px;
    height: 640px;
    line-height: 64px;
    margin: 18% auto 0;
    text-align: center;
    text-shadow: 0 0 20px black;
    width: 960px;
}

#startClicker {
    text-decoration: none;
    font-size: 48px;
    color: blue;

}
.How{
    display: none;
    position: absolute;
    font-family: "Impact",sans-serif;
    text-align: center;
    text-shadow: 0 0 20px white;
}

/*Main matrix, holds the game map.*/

#gameAttack_wrapper {
    width: 640px;
    height: 480px;
    margin: auto;
    border: 0;
    /*border-collapse: collapse;*/
    background-color: #000;
    position: relative;
    /*display: none;*/
}
#splasher {
    font-size: 3em;
    text-align: center;
    font-family: "Impact", sans-serif;
    position: absolute;
    z-index: 99;
    top: 25%;
    left: 17.5%;
    width:50%;
    text-shadow: black 0 0 20px;
    color: white;
    /*display: none;*/
}

#mainmatrix {
    width: 640px;
    height: 480px;
    border: 0;
    border-collapse: collapse;
    background-color: #000;
}

/*
    Defines styling for each individual grid on the map.
*/
#mainmatrix td {
    padding: 20px;
    width: 33%;
    height: 33%;
    border: 1px solid darkslategray;
    text-align: center;
    vertical-align: middle;
}

/*
    Defines styling for the images on the grid map.
*/
#mainmatrix td img {
    width: 96px;
    height: 96px;
}

#dungeons {
    display: none;
    position: absolute;
}

.matrix {
    color: red;
}


@media screen and (max-width: 650px)and (max-height: 500px) {
    .gameTitle {
        color: blue;
        font-family: "Impact", sans-serif;
        font-size: 50px;
        height: 480px;
        line-height: 62px;
        margin: 24% auto 0;
        text-align: center;
        text-shadow: 0 0 20px white;
        width: 640px;
    }

    #startClicker {
        text-decoration: none;
        font-size: 30px !important;
        color: #ffffff;

    }
    .How{
        display: none;
        position: absolute;
        font-family: "Impact",sans-serif;
        text-align: center;
        text-shadow: 0 0 20px white;
    }
}