@import url("monstercard.css");
@import url("minimap.css");
@import url("attack.css");
@import url("qcard.css");

@font-face {
    font-family: stencil;
    src: url(../fonts/stencil.ttf);
}
@font-face {
    font-family: gobold;
    src: url(../fonts/GoboldBold.ttf);
}
@font-face {
    font-family: gravity;
    src: url(../fonts/Gravity-Book-Italic.ttf);
}

#background {
    z-index: -1;
    background-size: cover;
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


#gameAttack_wrapper {

    width:              640px;
    height:             480px;
    /*background-color:   #000;*/
    margin:             auto;
    display:            inline-block;
    position:           fixed;
    top:                0;
    bottom:             0;
    left:               0;
    right:              0;
}

#player-hud {
    color: white;
    width:              25%;
    height:             100%;
    /*background-color:   #8b9f20;*/
    overflow:           auto;
    float:              left;
    font-family:        gobold;
    font-size:          19px;
}

#player-data {
    text-align: center;
    margin-top: 4%;
}

#player-data table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

.hud-scale {
    width: 40px;
}

#container {
    width:              75%;
    height:             100%;
    overflow:           auto;
    /*background-color:   #7255ff;*/
    float:              left;
}

#playerHud {

    width:              100%;
    overflow:           auto;
    height:             75%;
    /*background-color:   #ffcf57;*/
    display:            block;

}

#buttonHud {
    width:              100%;
    overflow:           auto;
    height:             25%;
    /*background-color:   #af67fd;*/
    display:            block;
    vertical-align:     bottom;
}

#buttonHud table {
    margin: 1%;
    bottom: 0;
    position: absolute;

    /*display: block;*/
}

#buttonHud img:hover {
    -webkit-transform:scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:scale(1.20); /* Opera */
    transform:scale(1.20);
    cursor: pointer;
}



#mainmatrix {
    overflow:           auto;
    width:              97%;
    height:             97%;
    margin:             auto;
    margin-top:         1.5%;
    padding:            0;
    /*border:             1px solid white;*/
    border-collapse:    collapse;
    /*display:            none;*/
    background: rgba(0,0,0,0.7);
    /*border-radius: 15px;*/
    text-align: center;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 0 2px #ccc;
    -moz-box-shadow: 0 0 0 2px #ccc;
    box-shadow: 0 0 0 2px #ccc;
}

#mainmatrix td {
    height: 33%;
    width: 33%;
    -webkit-box-shadow: 0 0 0 1px #ccc;
    -moz-box-shadow: 0 0 0 1px #ccc;
    box-shadow: 0 0 0 1px #ccc;
}

#mainmatrix img {
    width: 90%;
}

#player-div {
    position: relative;
}

#player-img {
    width: 62%;
}

.img-radius {
    border-radius: 25%;
}

#info {
    align-self:center;
    padding:5px;
    position: relative;
    bottom:2%;
    border-radius:10px;
}

#splasher {
    display: none;
    position: absolute;
    z-index: 3;
    background: rgba(0,0,0,0.9);
    font-family: gravity;
    color: white;

    padding: 3%;
    max-width: 20%;

    text-align: center;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 0 2px #ccc;
    -moz-box-shadow: 0 0 0 2px #ccc;
    box-shadow: 0 0 0 2px #ccc;

    margin: 0 auto;
    top: 40%;
    left: 40%;

    font-size: 18px;
    line-height: 24px;

}



/*------------------------------------------------------------anim heart and dice-------------------------------------------------*/
.floating{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 5px);}
    to {-webkit-transform: translate(0, -0px); }
}
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 5px);}
    to {-moz-transform: translate(0, -0px);}
}
.scaling{
    /*float: left;*/
    -webkit-animation-name: scalex;
    -webkit-animation-duration:500ms;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:500ms;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
@-webkit-keyframes scalex{
    from {-webkit-transform: scale(0.9);}
    65% {-webkit-transform: scale(1.0);}
    to {-webkit-transform: scale(0.9);}
}
@-moz-keyframes scale{
    from {-moz-transform: scale(0.9);}
    65% {-moz-transform: scale(1.0);}
    to {-moz-transform: scale(0.9);}
}


