body
{
    margin:0%;
    padding:0%;
}

#gameAttack_wrapper {
    width: 640px;
    height: 480px;
    margin: auto;
    border: 0;
    /*border-collapse: collapse;*/
    background-color: #000;
    position: relative;
}

.matrix {
    height: 100%;
    width: 100%;
}

#mainmatrix {
    align-self: center;
    display:block;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0 none;
    border-collapse: collapse;
    height: 400px;
    margin-left:10%;
    margin-top: 10%;
    width: 400px;
}
/*
    Defines styling for each individual grid on the map.
*/
#mainmatrix td
{
    padding:1%;
    width:33%;
    height:33%;
    border:1px solid darkslategray;
    text-align:center;
    vertical-align:middle;
}
/*
    Defines styling for the images on the grid map.
*/
#mainmatrix td img
{
    width:65%;
    height:auto;
}

#dungeons {
    display: none;
    position: absolute;
}

#qcard, #qid{
    display: none;
    width: 80%;
}
#quiz-content
{ width: 41%;
    /*height: 35%;*/
    border: 2px solid white;
    top: 20%;
    position: absolute;
    left: 25%;
    border-radius: 10px;
    padding: 2px 4px 3px 2px;
    display: none;
    z-index: 2;
    /*background-color: black;*/
    background-color: rgba(0,0,0,0.7);
}
#qquestion{
    color: #ffffff;
    padding: 5px;
}
#bulletA {
    background: #a34f32;
}
#bulletB {
    background: #7255ff;
}
#bulletC {
    background: #8b9f20;
}
#bulletD {
    background: #ffcf57;
}
#answerBlock {
    list-style: none;
    padding-left: 12%;
}
#answerMsg {
    display: none;
    color: black;
    font-size: 1.6em;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.answer-bullet {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    color: black;
}
#answerBlock li {
    margin-bottom: 2px;
    margin-left: -39px;
    cursor: pointer;
}
#answerBlock li:hover {
    font-weight: bold;
}

.gameTitle {
    color: blue;
    font-family: "Impact", sans-serif;
    font-size: 85px;
    height: 640px;
    line-height: 64px;
    margin: 18% auto 0;
    text-align: center;
    text-shadow: 0 0 20px black;
    width: 960px;
}

#startClicker {
    text-decoration: none;
    font-size: 48px;
    color: blue;

}
.How{
    display: none;
    position: absolute;
    font-family: "Impact",sans-serif;
    text-align: center;
    text-shadow: 0 0 20px white;
}


#player-hud {
    width: 100%;
    height: 15%;
    /*display:inline-flex;*/
    position:absolute;
    overflow: auto;
    /*align-self:center;*/
    /*border: 1px solid green;*/
}
#player-data {
    width: 30%;
    height: 100%;
    border: 1px solid #ffffff;
    /*position: absolute;*/
    float: left;
}
#player-img-hud {
    height: 100%;
    width: 23%;
    /*border: 1px solid blue;*/
    /*position: absolute;*/
    float: left;
}
#player-name-hud {
    width: 75%;
    /*height: 100%;*/
    /*position: absolute;*/
    float: left;
    /*border: 1px solid yellow;*/
    text-align: center;
    color: #ffffff;
    padding-top: 5%;
}
#player-dice-hud {
    float: left;
    border: 1px solid #ffffff;
    height: 100%;
    width: 37%;
}
#player-health-box-hud {
    width: 32%;
    height: 100%;
    /*border: 1px solid pink;*/
    float: left;
}
#player-Health-border-hud {
    width: 99%;
    height: 40%;
    background-color: #ffffff;
    /*border: 1px solid yellow;*/
    /*position: absolute;*/
    border-radius: 10px;
}
#player-Health-hud {
    background: none repeat scroll 0 0 blue;
    border-radius: 10px;
    width: 99%;
    height: 100%;
    right: 0;
    float: right;
}
#player-hp-hud {
    text-align: center;
}
#meter-box-health-hud {
    /*border: 1px solid sandybrown;*/
    float: right;
    height: 50%;
    width: 100%;
}
#player-health-val-hud {
    text-align: center;
    color: #ffffff;
    margin-top: 1%;
}
#splasher {
    /*border: 1px solid red;*/
    font-size: 2em;
    text-align: center;
    font-family: "Impact", sans-serif;
    position: absolute;
    z-index: 99;
    top: 25%;
    left: 25%;
    width: 50%;
    text-shadow: black 0 0 20px;
    color: white;
    /*display: none;*/
}



#monster-card{
    border: 1px solid whitesmoke;
    height: 400px;
    left: 12%;
    position: absolute;
    top: 49px;
    width: 500px;
    background-color: rgba(20, 20, 20, 0.9);
    border-radius: 10px;
    display: none;
}
#monster-card-btn{
    left: 34%;
    position: absolute;
    top: 86%;
}
#monster-detail-box{
    width: 100%;
    height: 50%;
    /*border: 1px solid red;*/
}

#monster-card-img{
    border: 1px solid whitesmoke;
    height: 90%;
    width: 29%;
    margin: 4%;
    border-radius: 5px;
}
#monster-details{
    /*border: 1px solid green;*/
    float: right;
    height: 45%;
    left: 34%;
    margin: 4%;
    position: absolute;
    top: 0;
    width: 57%;
}
#monster-card-desc{
    border: 1px solid white;
    height: 25%;
    left: 4%;
    position: absolute;
    top: 56%;
    width: 91%;
    border-radius: 5px;
}

#monster-card-hp {
    font-size: 10px;
    height: 50%;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
#monster-card-Health-val {
    background: none repeat scroll 0 0 red;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    float: right;
}
#monster-detail-table {
    color: whitesmoke;
    width: 100%;

}

.monster-card-scale{
    width: 30%;
}

#monster-card-Health-border{
    border: 1px solid #ffffff;
    border-radius: 10px;
    height: 6%;
    position: absolute;
    top: 66%;
    width: 55%;
}
#monster-card-Health {
    background: none repeat scroll 0 0 red;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    float: left;
}


#minimap {
    position: absolute;
    height: 100%;
    width: 100%;
}

#Purple {
    position: absolute;
    height: 500%;
    left: 400%;
    top: 0%;
}

#Blue {
    position: absolute;
    height: 500%;
    left: 700%;
    top: 500%;
}

#Green {
    position: absolute;
    height: 500%;
    left: 700%;
    top: 1300%;
}

#Yellow {
    position: absolute;
    height: 500%;
    left: 400%;
    top: 1800%;
}

#Orange {
    position: absolute;
    height: 500%;
    left: 100%;
    top: 1300%;
}

#Red {
    position: absolute;
    height: 500%;
    left: 100%;
    top: 500%;
}

#minimapmatrix {
    width:50%;
    height: 50%;
    /*margin:auto;*/
    /*border: 1px solid whitesmoke;*/
    border-collapse:collapse;
    background-color: #000;
    position: absolute;
    left: 280%;
    top: 560%;
    color: white;
}

#minimapmatrix td {
    text-align: center;
    padding: 3px;
    align: center;
    vertical-align: middle;
    border: 1px solid whitesmoke;
}

.minimatrix {
    min-width: 80px;
    max-width: 80px;

    min-height: 70px;
    max-height: 70px;
}








@media screen and (max-width: 650px)and (max-height: 500px) {
    .gameTitle {
        color: blue;
        font-family: "Impact", sans-serif;
        font-size: 50px;
        height: 480px;
        line-height: 62px;
        margin: 24% auto 0;
        text-align: center;
        text-shadow: 0 0 20px white;
        width: 640px;
    }

    #startClicker {
        text-decoration: none;
        font-size: 30px !important;
        color: #ffffff;

    }
    .How{
        display: none;
        position: absolute;
        font-family: "Impact",sans-serif;
        text-align: center;
        text-shadow: 0 0 20px white;
    }
}