
#minimap {
    height: 91%;
    width: 95%;
    background: rgba(0,0,0,0.6);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 0 2px #666;
    -moz-box-shadow: 0 0 0 2px #666;
    box-shadow: 0 0 0 2px #666;
    margin-left: 0.5%;
}

#miniportal {
    overflow: auto;
    width: 95%;
    height: 35%;
    margin: auto;
    margin-top: 5%;
}

#miniportal td {
    /*text-align: center;*/
    /*width: 14%;*/
    padding: 3px;
}

#minimapmatrix {
    width: 60%;
    height: 60%;
    position: relative;
    top: -7%;
    left: 20%;
    z-index: 2;
    text-align: center;
    border-collapse: collapse;
    min-height: 60%;
    max-height: 60%;
    min-width: 60%;
    max-width: 60%;
    background: rgba(0,0,0,0.6);
    color: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 0 2px #666;
    -moz-box-shadow: 0 0 0 2px #666;
    box-shadow: 0 0 0 2px #666;
}

#minimapmatrix td {
    height: 33%;
    width: 33%;
    -webkit-box-shadow: 0 0 0 1px #333;
    -moz-box-shadow: 0 0 0 1px #333;
    box-shadow: 0 0 0 1px #333;
}

#minimapmatrix img {
    width: 90%;
}

.mini {
    height: 100%;
    width: 100%;

}

