#monster-card{
    /*border:             1px solid whitesmoke;*/
    /*background-color:   rgba(20, 20, 20, 0.9);*/
    /*border-radius:      10px;*/
    overflow:           auto;
    height:             90%;
    width:              90%;
    margin:             4%;
    top:                0;
    bottom:             0;
    left:               0;
    right:              0;
    display:            inline-block;
    position:           relative;
    /*display:          none;*/

}

#monster-card-table{
    margin: auto;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    margin-top: 20%;

}

#monster-card-table td{
    padding:0;
    width: auto;
    /*text-align: center;*/
    vertical-align: middle;
}

#monster-card-header{
    font-size: 25px;
    text-align: center;
    font-family: stencil;
    color: whitesmoke;
}

#monster-card-health {
    text-align: right;
    font-size: 20px;
    vertical-align: middle;
    min-width:30%;
    max-width:30%;
    font-family: gobold;
}
#monster-card-health img{
    vertical-align: middle;
}

#monster-card-image {
    text-align: center;
    min-width:40%;
    max-width:40%;
}
#monster-card-image img{
    border: 13px solid gold;
    border-radius: 100%;
    vertical-align: middle;
    width: 75%;
}

#monster-card-dice{
    text-align: left;
    font-size: 20px;
    vertical-align: middle;
    min-width:30%;
    max-width:30%;
    font-family: gobold;
}
#monster-card-dice img{
    vertical-align: middle;
}

#monster-card-name{
    background: saddlebrown;
    text-align: center;
    font-family: gravity;
}
#monster-card-type{
    background: saddlebrown;
    text-align: center;
    font-family: gravity;
}
#monster-card-desc{
    font-family: gravity;
}

#monster-card-desc{
    border:             1px solid white;
    border-radius:      5px;
    margin:             auto;
    margin-top:         1%;
    color: whitesmoke;
    /*margin: 0.1%;*/
}
#monster-card-desc span{
    margin: 1%;
    font-weight: bold;
}

#btn-continue{

}