#monster-card{
    /*border:             1px solid whitesmoke;*/
    /*background-color:   rgba(20, 20, 20, 0.9);*/
    background: rgba(1,1,1,0.9);
    overflow:           auto;
    height:             90%;
    width:              90%;
    margin:             4%;
    top:                0;
    bottom:             0;
    left:               0;
    right:              0;
    display:            inline-block;
    position:           absolute;
    display:          none;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 0 2px #ccc;
    -moz-box-shadow: 0 0 0 2px #ccc;
    box-shadow: 0 0 0 2px #ccc;


}

#monster-card-table{

    border-collapse: collapse;
    color: whitesmoke;
    margin: auto;
    margin-top: 2%;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    /*margin-top: 20%;*/

}

#monster-card-table td{
    margin: 2px;
    padding:3px;
    width: auto;
    /*text-align: center;*/
    vertical-align: middle;
}

#monster-card-header{
    font-size: 35px;
    text-align: center;
    font-family: stencil;
    color: whitesmoke;
}

#monster-card-health {
    text-align: right;
    font-size: 20px;
    vertical-align: middle;
    /*min-width:30%;*/
    /*max-width:30%;*/
    font-family: gobold;
}

#monster-card-health img{
    vertical-align: middle;
}

#monster-card-image {
    text-align: center;
    min-width:40%;
    max-width:40%;
}
#monster-card-image img{
    border: 2px solid gold;
    border-radius: 25%;
    vertical-align: middle;
    width: 75%;
    background: rgba(1,1,1,1);
}

#monster-card-dice{
    text-align: left;
    font-size: 20px;
    vertical-align: middle;
    min-width:30%;
    max-width:30%;
    font-family: gobold;
}
#monster-card-dice img{
    vertical-align: middle;
}
#monster-card-name{
    font-weight: bold;
    font-style: oblique;
    font-weight: bold;
    /*background-color:#5C2E00;*/
    margin: auto;
    text-align: center;
    font-family: gravity;
    width: 50%;
    padding: 1.5%;
    border-radius: 3px;
    background-image: url("../img/namebg.png");
    opacity: 0.95;
    filter: alpha(opacity=95);
}
#monster-card-type{
    color: floralwhite;
    font-weight: bold;
    font-style: oblique;
    margin: auto;
    width: 50%;
    /*background-color:#5C2E00;*/
    text-align: center;
    font-family: gravity;
    padding: 1.5%;
    /*border: 2px solid #ffffff;*/
    border-radius: 3px;
    background-image: url("../img/namebg.png");
    opacity: 0.95;
    filter: alpha(opacity=95);
    /*box-shadow: inset 1px 1px 1px 1px grey;*/
}

#monster-card-desc{
    /*background: #A35200;*/
    font-family: gravity;
    border-radius:      5px;
    margin:             auto;
    width: 65%;
    padding: 2.5%;
    border-radius: 3px;
    background-image: url("../img/descbg.png");
    opacity: 0.95;
    filter: alpha(opacity=95);
    line-height: 22px;
}
#monster-card-desc span{
    margin: 1%;
    font-weight: bold;
}
