#qcard, #qid{
    display: none;
    width: 80%;
    overflow: auto;
    margin: auto;
    color: whitesmoke;
    font-family: gravity;
}
#quiz-content
{ width: 41%;
    /*height: 35%;*/
    border: 2px solid whitesmoke;
    top: 20%;
    position: absolute;
    left: 25%;
    border-radius: 10px;
    padding: 2px 4px 3px 2px;
    display: none;
    z-index: 2;
    background-color: rgba(1,1,1,0.7);
}
#qquestion{
    color: #ffffff;
    padding: 5px;
}
#bulletA {
    background: #a34f32;
}
#bulletB {
    background: #7255ff;
}
#bulletC {
    background: #8b9f20;
}
#bulletD {
    background: #ffcf57;
}
#answerBlock {
    list-style: none;
    padding-left: 12%;
}
#answerMsg {
    display: none;
    color: black;
    font-size: 1.6em;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.answer-bullet {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    color: black;
}
#answerBlock li {
    margin-bottom: 2px;
    margin-left: -20px;
    cursor: pointer;
}
#answerBlock li:hover {
    font-weight: bold;
}